.doodle .dd_elem {
  -moz-user-select: none;
  -webkit-user-select: none;
  /* this will work for QtWebKit in future */
  -webkit-user-drag: none;
}

.doodle {
  position: relative;
  width: 800px; height: 600px;
  border: 1px solid blue;
}

.dd_elem {
  position: absolute;
  background-color: #1e90ff;
}

.dd_elem.active {
  border: 3px dotted rgba(255, 255, 255, 0.8);
  margin-left: -3px;
  margin-top: -3px;
}